:root {
  --base: 0.5rem;
  --s: var(--base);
  --m: calc(var(--base) * 2);
  --l: calc(var(--base) * 4);
  --xl: calc(var(--base) * 8);
  --xsl: calc(var(--base) * 10);
  --xxl: calc(var(--base) * 16);
  --body-width: 72rem;

  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Open Sans', sans-serif;

  --primary-color: hsla(0, 0%, 77%, 1);
  --on-primary-color: rgb(10, 10, 10);
  --foreground-color: rgb(10, 10, 10);
  --background-color: white;
  --background-alt-color: hsla(0, 0%, 93%, 1);
  --background-footer-color: hsla(0, 0%, 81%, 1);

  /*gradient-saturated-lightness-opacity*/
  --shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
}
